<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MIS677Project.Properties.Settings.ConnectionStringViewNeighbors"
            connectionString="Data Source=bb-enterprise.users.campus;User ID=Group2;Password=Grp2s2117"
            providerName="System.Data.SqlClient" />
        <add name="MIS677Project.Properties.Settings.Group2ConnectionString"
            connectionString="Data Source=bb-enterprise.users.campus;Initial Catalog=Group2;Persist Security Info=True;User ID=Group2;Password=Grp2s2117"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>